nav a img {
    margin-top: -10px;
    margin-left: 16px;
    width: 110px;
    height: auto;
}
 
nav {
    max-height: 93px;
}
 
.bg-roxo-blur {
    background-color: #5e299ac7;
}
 
.bg-roxo {
    background-color: #5e299a;
}
 
.bg-img {
    background: url(img/banner.jpg) no-repeat 80% 100%;
    height: 100vh;
}
 
.bg-none {
    background: none;
}
 
.text-shadow {
    text-shadow: #11111192 1px 1px 2px;
}
 
.mt-10 {
    margin-top: 200px;
    margin-left: -100px;
}
 
.text-roxo {
    color: #5e299a;
}
 
.border-amarela {
    margin-top: -1px;
    border: 4px solid #fde192;
    width: 205px;
}
 
.text-amarelo {
    color: #fde192;
}
 
.font-size-1 {
    font-size: 20px;
}
 
.mt-none {
    margin-top: -18px;
}
 
.max-width {
    max-width: 1303px;
}
 
.min-width {
    max-width: 290px;
}
 
.btn-roxo {
    background-color: #5e299a;
    color: #ffffff;
}
.btn-roxo:hover {
    background-color: #4f267e;
    color: #d4d4d4;
}
 
.btn-amarelo {
    background-color: #fde192;
    color: #000000;
}
.btn-amarelo:hover {
    background-color: #f0d487;
    color: #141414;
}
 
.footer {
    background-color: #171f26;
    padding: 40px 0;
}
.footer-logo img {
    width: 80px;
}
.footer-title {
    margin-bottom: 15px;
}
.footer a {
    color: #aaa;
    text-decoration: none;
}
.footer a:hover {
    color: #fff;
}
.social-icons a {
    font-size: 1.5rem;
    margin-right: 15px;
    color: #aaa;
}
.social-icons a:hover {
    color: #fff;
}
 
.linha-footer {
    border: 0.1px solid #aaa;
}
 
.logo-footer {
    width: 140px;
}
 
.copyright {
    background: #11171d;
}